.godot/
.import/
*.import
export.cfg
export_presets.cfg

# python files
*.spec
*.pyc
/python/build

# /test_fn
/exported
/exported+
/exported++
/.vscode
/build
/dist
/release

# 给AI的临时文件：
*.gd.txt

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
# *.zip
*.tar.gz
anim/*.autosave.zip

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
# *.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.xlsx
*.xls
*.pyc

# others
*.png
~*
*.TMP
*.uid
